<div class="block" screen-detector>
  <div class="signIn">
    <input type="text"  class="phone text" placeholder="Телефон">
    <input type="text"  class="pswd text"  placeholder="Пароль">
    <button  class="btn submit">Войти</button>
  </div>

  <div class="footer">
    <div class="left">
      <a href="#">Регистрация</a>
    </div>
    <div class="right">
      <a href="#" mz-dictionary>Забыли пароль <b href="#"> 1 - [[test]]</b> <i>2 - [[test2]]</i></a>
    </div>
  </div>ß
</div>

<div class="footer">
  <span class="text">Connect</span>
</div>
