<!--<div class="menus" mz-screen-detector>-->
  <!--<ng-container *ngFor="let app of resultAppList; let idx = index" >-->
    <!--<div-->
      <!--class="box {{ 'num-' + (idx + 1) }} app-name-{{app.id}}" (click)="changeAppp(app.id)"-->
      <!--[ngClass]="{active: app.id === currentAppId}"-->
    <!--&gt;-->
      <!--<div class="menu app-name-{{app.id}}">-->
        <!--<div class="icon app-name-{{app.id}}"></div>-->
        <!--<div class="title">{{ appStorage[app.id].name}}</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</ng-container>-->

  <!--<div class="footer">-->
    <!--<div class="box bell">-->
      <!--<div class="menu bell">-->
        <!--<div class="icon bell"></div>-->
        <!--<div class="title"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="box account">-->
      <!--<div class="menu account">-->
        <!--<div class="icon account"></div>-->
        <!--<div class="title">@user-id</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
